/*#############################################################
Name: Coffee N Cream
Date: 2006-08-24
Description: A smooth coffee style template.
Author: Viktor Persson
URL: http://templates.arcsin.se

Feel free to use and modify but please provide credits.
#############################################################*/

/* standard elements */
* {
	/*font-size: 4mm;*/
	margin: 20;
	padding: 0;
}
a {
	color: black;
	font-size: 3.5mm;
}
a:hover {
	color: #C60;
}
body {
	background: #655A46 url(/static/img/bg.gif);
	color: #613A17; /*Este color lo he cambiao antes tenia 543-->*/
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin-left: 200px;
	margin-top: 50px;*/
}

input {
	color: black;/*<!--555-->*/
	font: normal 1.1em "Lucida Sans Unicode",sans-serif;
}
p,cite,code,ul {
	font-size: 1em;
	padding-bottom: 0.5em;
}
h1 {
	font-size: 1.4em;
	margin-bottom: 4px;
}
code {
	background: #FFE;
	border: 1px solid #EED;
	border-left: 6px solid #938262;
	color: #1F2FB7;/*<!--555-->*/
	display: block;
	font: normal 1.1em "Lucida Sans Unicode",serif;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
blockquote {
	background: url(/static/img/quote.gif) no-repeat;
	color: black;
	display: block;
	font: normal 1.3em "Lucida Sans Unicode",serif;
	padding-left: 28px;
}
h1,h2,h3 {
	color: #654;
	padding-top: 6px;
}

#banner {
	background: #655A46 url(/static/img/bg.gif);
	color: #1F2FB7; /*Este color lo he cambiao antes tenia 543-->*/
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin-left: 0px;
	margin-top: 50px;
	height:200px;
}

.Log {
	background: #ffffff;
	margin-left: 760px;
	padding: 10px 0px;
	font: bold 1.2em Verdana,sans-serif;
	color: #ffffff;
}

.Lista{
	float: left;
	margin-left: 100px;
	font: normal 1.5em Verdana,sans-serif;
}

.Lista2{
	margin-left: 600px;
	margin-top: 30px;
	font: normal 1.5em Verdana,sans-serif;
}

.Usuarios{
	float:left;
	font: normal 1.2em Verdana,sans-serif;
	margin-top: 10px;
}

.Boton{
	float: right;
	margin-right: 100px;
	margin-top: 10px;
}

.Formulario{
	float: right;;
	font: normal 1.2em Verdana,sans-serif;
	margin-right: 10px;
	margin-top: 40px;
	color: black;
	opacity: 0.8;
}

.cuerpo{
	font: 1.5em Verdana;
}

/* misc */
.clearer {
	clear: both;
}

/* structure */
.container {
	background: url(/static/img/backgroundBlanco.jpg) repeat-y;
	margin-left: 0px;
	width: 945px;
}

/* header */
.header {
	background: url(/static/img/bgheader.gif) repeat-x;
	height: 120px;
	margin: 0 auto;
	width: 945px;
}

/* title */
.title {
	padding: 32px;
}
.title h1 {
	color: black;
	font: normal 3.4em "Lucida Sans Unicode","Trebuchet MS",sans-serif;
}

/* navigation */
.navigation {
	background: #FFF url(/static/img/bgnavigation.gif) repeat-x;
	font: bold 1.2em Verdana,sans-serif;
	height: 44px;
	margin-left:0 auto;
	padding: 0 18px;
	width: 909px;
}
.navigation a {
	color: black;
	text-decoration: none;
	padding: 3px 4px;
	margin-right: 12px;
	line-height: 44px;
}
.navigation a:hover {
	background: #CEBDA1;
	color: #420;
}

/* main */
.main {
	clear: both;
	padding: 0 10px 12px 28px;
	width: 918px;
}

/* sub navigation */
.sidenav {
	float: right;
	width: 220px;
}
.sidenav h1 {
	background: #1F2FB7 url(/static/img/sidenavh1.gif) repeat-x;
	border-top: 1px solid #CCC;
	color: black;
	font-size: 1.2em;
	height: 22px;
	margin: 0;
	padding-left: 12px;

}
.sidenav ul {
	margin: 0;
	padding: 0;
}
.sidenav li {
	border-bottom: 1px solid #A98;
	border-top: 1px solid #DDC;
	list-style: none;
}
.sidenav li a {
	background: #CCC3AF;
	color: #554;
	display: block;
	padding: 8px 4px 8px 12px;
	text-decoration: none;
}
.sidenav li a:hover {
	background: #D6CCB9;
	color: #654;
}

/* content */
.content {
	padding-top: 12px;
	float: left;
	width: 68%;
}
.content .descr {
	color: #987E57;
	font-size: 1.1em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(/static/img/li.gif);
	margin-left: 18px;
}

/* footer */
.footer {
	background: #958463 url(/static/img/bgfooter.gif) repeat-x;
	color: #FED;
	font-size: 1.1em;
	line-height: 40px;
	margin: 0 auto;
	text-align: center;
	width: 760px;
}
.footer a {
	color: #FFD;
	text-decoration: none;
}
.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}
